:host {
  display: block;
  margin-top: 2em;
  text-align: center;
  box-sizing: border-box;
}

ul {
  display: block;
  padding: 0;
  margin: 2em;
  margin-bottom: 4em;
}

li {
  list-style: none;
  padding: 0.5em;
  margin: 0.25em;
  display: inline;
  background: var(--nta-search-highlight,#e7e7e7);
  color: var(--nta-search-lowlight,black);
  cursor: pointer;
  border-radius: 10%;
}

li.active {
  background: unset;
  font-weight: bold;
  background: var(--nta-search-lowlight,#e7e7e7);
  color: var(--nta-search-highlight,black);
}